<div class="banner">
    <div class="container">
      <h1>Save any kind of movies</h1>
      <p>My personal watch list</p>
    </div>
</div>
<div class="lists">
  <div class="list-all">
    <h2>My Lists</h2>
      <ul>
        <div class="list-items">
          <% @lists.each do |list| %>
            <div class="card">
              <li><%= link_to list.name, list_path(list), class: "list-item" %></li>
            </div>
          <% end %>
        </div>
      </ul>
  </div>
  <div class="button">
    <%= link_to 'Create a movie list', new_list_path, class: "btn btn-flat" %>
  </div>
</div>
