.lists {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.list-all ul {
  padding: 0px !important;
}

.list-item {
  text-decoration: none;
  color: white;
   &:hover {
    color: lightgray;
   }
}
