.lists {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.list-all ul {
  padding: 0px !important;
}

.list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.list-item {
  text-decoration: none;
  color: white;
   &:hover {
    color: lightgray;
   }
}

@media(max-width: 1445px) {
  .list-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .list-items {
    grid-template-columns: 1fr;
  }
}
